 .u-section-1 {
  background-image: url("images/bg1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1429px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1178px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1523px;
}

.u-section-2 .u-image-1 {
  width: 768px;
  height: 1671px;
  margin: 23px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-2 .u-image-1 {
    height: 1672px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-2 .u-image-1 {
    height: 1564px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-2 .u-image-1 {
    height: 1174px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-image-1 {
    height: 742px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1517px;
}

.u-section-3 .u-image-1 {
  width: 769px;
  height: 1445px;
  margin: 22px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1524px;
  }

  .u-section-3 .u-image-1 {
    height: 1476px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 1040px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-3 .u-image-1 {
    height: 655px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2778px;
}

.u-section-4 .u-image-1 {
  width: 769px;
  height: 2360px;
  margin: 23px auto 0;
}

.u-section-4 .u-image-2 {
  width: 769px;
  height: 255px;
  margin: 0 auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2612px;
  }

  .u-section-4 .u-image-1 {
    height: 2213px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2000px;
  }

  .u-section-4 .u-image-1 {
    height: 1661px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-4 .u-image-1 {
    height: 1051px;
    margin-top: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 113px;
    margin-top: 8px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(#001020, white);
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}